
.back-home{
    left: 10px;
text-align: 0;
top: 10px;
position: fixed;
}

.about {
text-align: center;
word-wrap: break-word;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
background: url("../images/background/background_dawn2.jpg") no-repeat;
background-size: cover;
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
padding-bottom: 20px;
}

.about > h1 {
color: #005C89;
}

.our-story {
width: 70%;
text-align: center;
margin: 50px 0;
}

.our-story p {
text-align: justify;
}

.paragraphs {
margin-top: 20px;
}

.about > h1 {
font-family: 'Nunito', serif;
font-weight: bold;
}

.our-story > h3, .team > h3 {
font-family: 'Nunito', serif;
font-size: 32px;
font-weight: bold;
color: #005C89;
}

.our-story, .team {
background: rgba(153, 215, 245, 0.4);
border-radius: 10px;
margin-bottom: 70px;
padding: 20px 20px 0;
}


.our-story > .paragraphs {
font-family: 'Raleway', serif;
color: #005C89;
}

.us {
font-family: 'Nunito', serif;
color: #005C89;
margin-top: 20px;
}

.us ~ p {
font-family: 'Raleway', serif;
color: #005C89;
margin-bottom: 50px;
}

.container-about {
margin-top: 50px;
}

.our_pics {
box-shadow: 5px 5px 5px #99D7F5;
width: 80%;
}

.footer-style {
width: 100%;
margin: auto;
color: white;
}

.coeur {
color: red;
}