* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Source Sans Pro;
}

#sidebar {
    position: absolute;
    width: 300px;
    height: 100%;
    background: #000;
    left: -300px;
}

#sidebar.active {
    left: 0;
}

#sidebar ul li {
    list-style: none;
    color: #fff;
    font-size: 20px;
    padding: 20px 24px;
}

#sidebar .toggle-btn {
    position: absolute;
    top: 30px;
    left: 330px;
    transition: .4s;
}

.toggle-btn span {
    width: 45px;
    height: 4px;
    background: #000;
    display: block;
    margin-top: 4px;
}