@font-face {
    font-family: 'Nunito';
    src: local('Nunito'), url(../fonts/Nunito/Nunito-Regular.ttf) format('truetype');
}

.nav-menu {
    display: flex;
    position: fixed;
    left: 0;
    top: 0;
    width: 250px;
    height: 100%;
    background-color: #005C89;
    z-index: 100;
    transform: translateX(-105%);
    transition: transform 0.4s ease-out;
    text-align: left;
}

.nav-menu.open {
    transform: translateX(0);
}

.nav-menu .menuItems {
    margin-top: 150px;
    padding: 10%;
    color: #fff;
}

.nav-menu ul li {
    margin-top: 20px;
}

.nav-menu .menuItems li a {
    text-decoration: none;
    font-family: 'Nunito';
    color: #99D7F5;
    font-weight: bold;
    font-size: 24px;
}

.closing-menu {
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 20px;
    color: #99D7F5;
    font-size: 36px;
}

.menuFavorites {
    margin-left: 10px;
}

.menuFavorites li a {
    color: #02A2EF !important;
    font-size: 1em !important;
}

.menuItems, .menuFavorites {
    list-style-type: none;
}

span.empty {
    color: rgba(173, 173, 173, 0.884);
    top: 15px;
    right: 40px;
    font-size: 40px;
    position: absolute;
}

span.is-favorite {
    color: rgba(30, 130, 223, 0.966);
    top: 15px;
    right: 40px;
    font-size: 40px;
    position: absolute;
}

