@font-face {
    font-family: 'Nunito';
    src: local('Nunito'), url(../fonts/Nunito/Nunito-Regular.ttf) format('truetype');
}

footer {
    font-family: 'Nunito';
    position: absolute;
    bottom: 2px;
    width: 100%;
}

footer > div > a,
footer > div > a:hover {
    color: #005C89;
    text-decoration: none
}