.modal-trigger {
    cursor: pointer;
    display: inline-block;
}

button {
    cursor: pointer;
}

.welcome-message {
    padding-top: 150px;
}

.modal[open] > .modal-trigger::before {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    cursor: default;
    content: '';
    z-index: 99;
    background: rgba(27, 31, 35, 0.5);
}

.modal-content {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    z-index: 999;
    font-size: 18px;
    border: 1px solid #889e81;
    border-radius: 3px;
    background-color: #e6a157;
    font-family: 'Bellota', cursive;
    width: 60%;
}

.modal-content ul > li {
    list-style: none;
}

#noteDates {
    text-align: center;
}


.modal-trigger::-webkit-details-marker {
    display: none;
}