.day {
    background-image: url("../images/day-test.jpg");
    min-height: 100vh;
    background-size: cover;
}

.aube {
    background-image: url("../images/Aube.jpg");
    min-height: 100vh;
    background-size: cover;
}

.night {
    background-image: url("../images/background_night1.jpg");
    min-height: 100vh;
    background-size: cover;
}

.dusk {
    background-image: url("../images/background_dusk1.jpg");
    min-height: 100vh;
    background-size: cover;
}