.day {
    background-image: url("../images/background/background_dawn1.jpg");
    min-height: 100vh;
    background-size: cover;
}

.aube {
    background-image: url("../images/background/background_dawn1.jpg");
    min-height: 100vh;
    background-size: cover;
}

.night {
    background-image: url("../images/background/background_night4.jpg");
    min-height: 100vh;
    background-size: cover;
}

.dusk {
    background-image: url("../images/background/background_dusk3.jpg");
    min-height: 100vh;
    background-size: cover;
}