.Meteo {
    background-color: var(--card-color);
    box-shadow: 0px 70px 40px -50px rgba(0, 0, 0, 0.2), 0px 3px 20px rgba(0, 0, 0, 0.1) !important;
  }
  
  .header {
    color: var(--text-color) !important;
  }