.Meteo {
background-color: #ffffffab;
box-shadow: 0px 70px 40px -50px rgba(0, 0, 0, 0.2), 0px 3px 20px rgba(0, 0, 0, 0.1) !important; 
}

.display-weather {
padding: 20px;
background-image: linear-gradient(135deg, #8bc6ec63 0%, #95d0e2b0 100%);
width: 80%;
margin: auto;
padding-bottom: 100px;
}

.display-weather h2{
text-align: center;
color: white;
}

.display-weather div.card>.content {
margin: .875em .5em; 
--title-color: #fff;
--text-color: #5c5e83;
--card-color: #fff;
}

.title i {
margin-top: 12px;
margin-left: -5px;
}

.card:hover{
transform: scale(1.05);
transition: 0.4s;
}

.cards {
display: flex;
justify-content: space-around;
}

.Meteo{
width: 18%;
}

.Meteo img{
width: 80px;
margin-left: 55%;
}

@media screen and (max-width : 480px){
.Meteo {
margin-bottom: 10px;
width: 100%;
}
.cards {
display: unset;
justify-content: space-around;
}
.weatherCard {
box-shadow: 0 70px 40px -50px rgba(0,0,0,.2), 0 3px 20px rgba(0,0,0,.8);
width: 100%!important; 
background-image: linear-gradient(135deg,rgba(139,198,236,.39),rgba(149,208,226,.69));
text-align: center;
margin: 60px auto auto;
}
.display-weather h2 {
text-align: center;
color: #fff;
font-size: 24px;
}
.dontForget{
font-size: 20px;
}
.ourSuggest{
font-size: 30px;
}

.humanoid {
width: 100%;
}
}
