@font-face {
    font-family: 'Raleway';
    src: local('Raleway'), url(../fonts/Raleway/Raleway-Regular.ttf) format('truetype');
  }
  
  @font-face {
    font-family: 'Nunito';
    src: local('Nunito'), url(../fonts/Nunito/Nunito-Regular.ttf) format('truetype');
  }

.modal_Suggestions {
    position: absolute;
    bottom: 20px;
    right: 20px;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn_Suggestions {
    background-color: #005C89 !important;
    width: 10vw !important;
    height: 10vh !important;
    font-size: 4vw !important;
    padding: 0 !important;
}

.icon_OpenModal {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #99D7F5;
}

.popover_Container {
    width: 450px !important;
    background-color: #99D7F5 !important;
    border: none !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    flex-direction: column !important;
    color: #005C89 !important;
    margin-bottom: 1em;
}

.title_Popover {
    font-size: 12px !important;
    background-color: #99D7F5 !important;
    color: #005C89 !important;
    font-weight: bold !important;
    font-family: 'Nunito' !important;
    border: none !important;
    text-align: center !important;
}

.paragraph_Popover {
    font-size: 32px !important;
    color: #005C89 !important;
    display: flex;
}

.iconsPopover {
    margin-left: 15px;
    cursor: pointer;
}

.bs-popover-top>.arrow::after {
    border-top-color: #99D7F5 !important;
}

/* Text area suggestions */ 

.text-area {
    display:flex;
    right: 50px;
    bottom: 150px;
    width: 275px;
    height: 30vh;
    background-color: #99D7F5;
    z-index: 2000;
    transform: translateX(-100%);
    transition: transform 0.4s ease-out;
    display: flex;
    flex-direction: column;
    align-items: center;
} 

.text-area.open {
    position: fixed;
    transform: translateX(20%);
    right: 75px;
}

.text-area.close

.input-textarea {
    font-family: 'Nunito';
    margin: 10px 0;
    font-weight: bold;
    color: #005C89;
}
