@font-face {
    font-family: 'Raleway';
    src: local('Raleway'), url(../fonts/Raleway/Raleway-Regular.ttf) format('truetype');
  }
  
  @font-face {
    font-family: 'Nunito';
    src: local('Nunito'), url(../fonts/Nunito/Nunito-Regular.ttf) format('truetype');
  }

.div-pollution {
    background-image: linear-gradient(135deg, #8bc6ec63 0%, #95d0e2b0 100%);
    width: 80%;
    margin: 20px auto;
}
