@font-face {
font-family: 'Raleway';
src: local('Raleway'), url(../fonts/Raleway/Raleway-Regular.ttf) format('truetype');
}

@font-face {
font-family: 'Nunito';
src: local('Nunito'), url(../fonts/Nunito/Nunito-Regular.ttf) format('truetype');
}

.search-bar{
width: 40%;
margin: auto;
display: flex;
padding-bottom: 50px;
}

@media only screen and (max-width: 800px) {
.search-bar{
  width: 90%;
}
}

.search-bar input[type=text] {
width: 100%;
box-sizing: border-box;
border: 1px solid #005C89;
border-radius: 12px;
font-size: 16px;
background-color: white;
background-image: url('../images/searchicon-blue.png');
background-position: 10px 15px; 
background-repeat: no-repeat;
padding: 15px 20px 10px 40px;
outline: none;
background-size: 24px;
color: #005C89;
font-family: 'Nunito';
}

.search-bar input[type=text]::placeholder {
color: rgba(0, 92, 137, 0.4);
font-family: 'Nunito';
}

.search-bar ul{
position: absolute;
list-style-type: none;
background-color: white;
width: 39%;
border-radius: 10px;
}

.search-bar ul li{
width: 100%;
padding: 10px;
border-radius: 10px;
}

.search-bar ul li:hover{
background-color: #bde8fd;
}

.search-bar ul{
position: absolute;
list-style-type: none;
background-color: white;
width: 39%;
border-radius: 10px;
}

.search-bar ul li{
width: 100%;
padding: 10px;
border-radius: 10px;
cursor: pointer;
}

.search-bar ul li:hover{
background-color: #bde8fd;
}

.search-label{
width: 100%;
}

.main-search{
padding-bottom: 100px;
}

.geoLocation-input {
position: relative;
right: 30px;
bottom: 5px;
background: none;
border: none;
color: #005C89;
font-size: 24px;
}

.geoLocation-input:focus, .geoLocation-input:active {
outline: none;
}

/* Loader */
img.search-loding {
display: flex;
margin: 0 auto;
}
