.search-bar {
    width: 40%;
    margin: auto;
    display: flex;
    padding-bottom: 50px;
}

@media only screen and (max-width: 800px) {
    .search-bar {
        width: 90%;
    }

    .search-label .autocomplete {
        width: 87%;
    }
}

.search-bar input[type=text] {
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #ffffff;
    border-radius: 30px;
    font-size: 16px;
    background-color: white;
    background-image: url("../images/searchicon-blue.png");
    background-position: 10px 15px;
    background-repeat: no-repeat;
    padding: 15px 20px 10px 40px;
    outline: none;
    background-size: 24px;
    color: #005C89;
    font-family: 'Nunito', serif;
    box-shadow: 0 8px 16px rgba(181, 180, 170, 0.4);
    letter-spacing: 1px;
    font-weight: bolder;
}

.search-bar input[type=text]:focus {
    transform: scale(1.025);
    transition: 0.4s;
}


.search-bar input[type=text]::placeholder {
    color: rgba(0, 92, 137, 0.4);
    font-family: 'Nunito', serif;
}

.search-bar ul {
    position: absolute;
    list-style-type: none;
    background-color: white;
    width: 39%;
    border-radius: 10px;
}

.search-bar ul li {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
}

.search-bar ul li:hover {
    background-color: #bde8fd;
}

.search-bar ul {
    position: absolute;
    list-style-type: none;
    background-color: white;
    width: 39%;
    border-radius: 10px;
}

.search-bar ul li {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}

.search-bar ul li:hover {
    background-color: #bde8fd;
}

.search-label {
    width: 100%;
}

.main-search {
    padding-bottom: 100px;
}

.main-search {
    padding-bottom: 100px;
}

.geoLocation-input {
    position: relative;
    right: 30px;
    bottom: 5px;
    background: none;
    border: none;
    color: #005C89;
    font-size: 24px;
}

.geoLocation-input:focus, .geoLocation-input:active {
    outline: none;
}

/* Loader */
img.search-loding {
    display: flex;
    margin: 0 auto;
}


/* Favoris */
.list-favorites {
    list-style: none;
    width: 30%;
    margin: 0 auto 10px;
    font-family: 'Nunito', serif;
}

.list-favorites li {
    background-color: rgba(255, 255, 255, 0.4);
    color: #005C89;
    border-radius: 10px;
    text-align: center;
    font-weight: 600;
    margin-top: 10px;
}

/* Error message */
.error-message {
    background-color: rgba(255, 255, 255, 0.4);
    color: #6f0000;
    border-radius: 10px;
    border: 1px #6f0000 solid;
    text-align: center;
    font-weight: 600;
    margin-top: 10px;
    width: 50%;
    margin: auto;
    background: rgba(255,255,255,0.5);
    margin-bottom: 40px;
}

.error-message > p {
    font-family: 'Nunito';
    width: 80%;
    margin: auto;
    padding: 10px 20px;
}