@font-face {
  font-family: 'Raleway';
  src: local('Raleway'), url(../fonts/Raleway/Raleway-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Nunito';
  src: local('Nunito'), url(../fonts/Nunito/Nunito-Regular.ttf) format('truetype');
}

.search-bar{
width: 40%;
margin: auto;
display: flex
}

@media only screen and (max-width: 800px) {
  .search-bar{
    width: 90%;
  }
}

input[type=text] {
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #005C89;
  border-radius: 12px;
  font-size: 16px;
  background-color: white;
  background-image: url('../images/searchicon-blue.png');
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 10px 20px 10px 40px;
  outline: none;
  background-size: 24px;
}

input[type=text] {
  color: #005C89;
  font-family: 'Nunito';
}

input[type=text]::placeholder {
  color: rgba(0, 92, 137, 0.4);
  font-family: 'Nunito';
}

.search-label{
  width: 100%;
}

.display-weather {
  --title-color: #ffffff;
  --text-color: #5c5e83;
  --card-color: #ffffff;
  padding: 2rem;
  background-image: linear-gradient(135deg, #8bc6ec63 0%, #95d0e2b0 100%);
  width: 80%;
  margin: auto;
}

.title {
  display: flex;
  justify-content: center;
  color: var(--title-color) !important;
  padding: 2rem !important;
}

.title i {
  margin-top: 12px;
  margin-left: -5px;
}

.cards {
  display: flex;
  justify-content: space-around;
}
.Meteo{
width: 18%;
}
.main-search{
  padding-bottom: 100px;
}

.geoLocation-input {
  position: relative;
  right: 30px;
  bottom: 5px;
  background: none;
  border: none;
  color: #005C89;
  font-size: 24px;
}

.geoLocation-input:focus, .geoLocation-input:active {
  outline: none;
}

/* Loader */
img.show {
  display: flex;
  margin: 0 auto;
}


img.hide {
  display: none;
}

/* Autocompletion */
.autocomplete {
  background-color: rgba(255, 255, 255, 0.5);
  color: #005C89;
  font-family: 'Nunito';
  list-style: none;
  border: 1px solid #005C89;
  width: 98%;
  margin: 0 auto;
  box-shadow: 0 0 0 1px rgba(0, 0, 0,.1), 0 2px 4px 1px rgba(0, 0, 0, .18);
  z-index: 3000;
  position: absolute;
  width: 37%;
}

.autocomplete li {
  padding: 10px 5px;
  cursor: pointer;
}

.autocomplete li:hover {
  background-color: rgba(128, 128, 128, 0.2)
}

@media only screen and (max-width: 800px) {
  .autocomplete {
    width: 87%;
  }
}