.weatherCard {
    width: 80%;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.45);
    margin: 25px auto auto;
}

.weatherCard > h3 {
    font-family: 'Nunito', serif;
}

.humanoid {
    height: 200px;
    border-radius: 20px;
}

.dontForget {
    font-family: 'Nunito', serif;
    color: #005C89;
    background-color: rgba(255, 255, 255, 0.45);
    width: 100%;
    margin-bottom: 0;
    padding: 10px;
}

.clothes {
    padding: 15px;
    display: flex;
    justify-content: space-around;
}

.clothes img {
    width: 14%;
}

.ourSuggest, .textClothes {
    padding: 20px;
}

.ourSuggest {
    color: #005C89;
    font-weight: bold;
}

.textClothes {
    font-family: 'Raleway', serif;
    font-size: 18px;
    color: #005C89;
}

@media only screen and (max-width: 580px) {

    .humanoid {
        width: 70%;
    }

    .clothes img {
        width: 20%;
    }
    .weather{
        padding-bottom: 20px;
}
    

}