.weatherCard {
    width: 80%;
    text-align: center;
    background-color: #728e9f9e;
    margin: 25px auto auto;
}

.weatherCard > h3 {
    font-family: 'Nunito', serif;
}

.humanoid {
    height: 200px;
    border-radius: 20px;
}

.dontForget {
    font-family: 'Nunito', serif;
    color: #073a54;
    background-color: #ffffff47;
    width: 100%;
    margin-bottom: 0;
    padding: 10px;
}

.clothes {
    padding: 15px;
    display: flex;
    justify-content: space-around;
}

.clothes img {
    width: 14%;
}

.ourSuggest, .textClothes {
    padding: 20px;
}

.ourSuggest {
    color: #073a54;
    font-weight: bold;
}

.textClothes {
    font-family: 'Raleway', serif;
    font-size: 18px;
    color: rgb(17, 17, 17);
}

@media only screen and (max-width: 800px) {

    .humanoid {
        width: 40%;
    }

    .clothes img {
        width: 20%;
    }

}