tbody {
    width: 100%;
}

tr {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

td {
    margin: 20px 0;
    font-family: 'Nunito', serif;
    width: 25%;
    box-sizing: border-box;
}

.details-figures {
    color: white;
}

.details-titles {
    font-size: 20px;
    font-weight: bolder;
}

@media only screen and (max-width: 900px) {
    td {
        width: 50%;
    }
}

@media only screen and (max-width: 480px) {
    td {
        width: 100%;
    }
}


.moreInfo {
    display: flex;
    flex-wrap: wrap;
    padding: 20px 0;
    margin-bottom: 50px;
    border-radius: 10px;
    text-align: center;
    flex-basis: auto;
    box-shadow: 0 70px 40px -50px rgba(0, 0, 0, 0.2), 0 3px 20px rgba(0, 0, 0, 0.1);
}

.specifics {
    text-align: center;
    width: 25%;
    height: 100px;
    color: #005C89;
}

.moreInfo:hover {
    transform: scale(1.02);
    transition: 0.4s;
}


.celsius {
    color: grey;
    cursor: pointer;
    font-family: 'Nunito', serif;
}

.fahrenheit {
    cursor: pointer;
    color: white;
    font-family: 'Nunito', serif;
}

.separation-bar {
    color: grey;
    font-family: 'Nunito', serif;
}

.temp {
    display: flex;
    justify-content: center;
}

.temp > div {
    margin-right: 5px;
}