#App {
  position: relative;
  height: 100%;
  width: auto;
  background-image: url("./images/day-test.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
#App .welcome-message {
  text-align: center;
  color: white;
  font-family: 'Nunito';
  padding-top: 15px;
}
.header{
  display: flex;
  flex-direction: column;
  padding-bottom: 100px;
}
.header img{
    width: 150px;
    align-self: center;
}

