#App {
  position: relative;
  width: auto;
}

.welcome-message {
  text-align: center;
  color: white;
  font-family: 'Nunito';
  padding-top: 15px;
}
.header{
  display: flex;
  flex-direction: column;
 
  width: 100%;
}
.header img{
    width: 150px;
    align-self: center;
}

